Source: snpservices
Section: web
Priority: optional
Maintainer: Miquel Martos <miquel.martos@guifi.net>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: snpservices
Architecture: all
Depends: ${misc:Depends}, apache2, php5, php5-cli, php5-gd, rrdtool, librrdp-perl, librrds-perl, mrtg-rrd
Provides: php5-rrdtool
Conflicts: php5-rrdtool
Replaces: php5-rrdtool
Description: This software provides graph services in the context of the 
 Spontaneous Networkink Platform.
 .
 Uses cnml as a input format, and provides traffic and
 latency/availability graphs in image format by using mrtg/rrdtool 
 collected history by simple HTTP URLs, therefore is easily
 plugable to any web application.
