#!/bin/sh -e

. /usr/share/debconf/confmodule

MY_ARCH=`dpkg --print-architecture`

if [ "$1" = configure -o "$1" = reconfigure ] ; then

	db_input high snpservices/SNPGraphServerId || true
	db_input medium snpservices/rootZone || true
	db_input medium snpservices/SNPDataServerurl || true
	db_input medium snpservices/MRTGConfigSource || true
	db_input medium snpservices/CNMLSource || true
	db_input medium snpservices/rrddbpath || true
	db_input medium snpservices/rrdimgpath || true
	db_input medium snpservices/rrdversion || true
	db_input high snpservices/forcefetch || true
	db_go

fi

exit 0
